* {
    margin: 0;
    padding: 0;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    top: 0;
    background-size: cover;
    z-index: 999;
    position: sticky;
    font-family: sans-serif;
    font-size: 18px;
    background-color: mistyrose;
  }

  .logo1 {
    padding-top: 12px;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Satisfy', cursive;
    margin-left: 10px;
  }

  .logo2 {
    font-size: 31px;
    margin-left: 25px;
  }

  .navbar ul {
    display: flex;
    list-style: none;
    gap: 25px;
    margin-right: 37px;
    padding-top: 37px

  }

  .navbar a{
    text-decoration: none;
    color: black;
  }
.navbar ul li :hover{
  color: rgb(100, 72, 72);
  }
  .button1 {
    height: 37px;
    border-radius: 10px;
    color: white;
    font-family: sans-serif;
    background-color: black;
    font-size: 16px;
    padding: 0px 4px 0px 4px;
    border: none;
    width: 100px;
  }
  .button1:hover{
      background: rgba(0, 0, 0, 0.705);
    }

  .button2 {
    height: 37px;
    border-radius: 10px;
    color: black;
    font-family: sans-serif;
    background-color: white;
    font-size: 16px;
    padding: 0px 4px 0px 4px;
    border: none;
    width: 130px;
  }
  .button2:hover{
      background-color: rgb(255,228,225);
    }
  .button1 a {
    text-decoration: none;
    color: white;
  }

  .button2 a {
    text-decoration: none;
    color: black;
  }
  .btn1{
    gap: 10px;
  }
  .bottomleft{
    position: absolute;
    bottom:30px;
    left: 30px;
    font-size: 30px;
  }
  .titre {
  position: relative;
  }




/* HomePage */
  .home {
    display: flex;
    justify-content: space-between;
    background-color: mistyrose;
    width: 100%;
    height: 550px;
}

.image {
    position: relative;
    width: 668px;
    height:550px;
}

.connecter {
    background-color: rgba(252, 249, 249, 0.8);
    width: 675px;
    height: 550px;
    text-align: center;
    position: absolute;
    left: 668px;
    border-radius: 15px;
    letter-spacing: 1px;

}

.connecter h1 {
    color: black;
    font-size: 45px;
    border-radius: 10px;
    padding-top: 55px;
}

.connecter input {
    background: transparent;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: 58px;
}

.connecter input:focus {
    outline: none;
}

::placeholder {
    color: gray;
    font-family: arial;
    padding-left: 12px;
}

.button3 {
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border-left: none;
    border-top: none;
    font-size: 18px;
    cursor: pointer;
    color: white;
    transition: 0.4s ease;
    font-family: emoji;
    margin-top: 40px;
}

.button3 {
    background: rgb(252, 222, 218);
}

.button3 a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.link1 {
    font-size: 17px;
    padding-top: 60px;

}

.link2 {
    padding-top: 50px;
}





/* CreationCompte */
.form{
    background: mistyrose;
    text-align: center;
    width: 100%;
    margin-top: -5px;
}
.formulaire{
    background-color: mistyrose;
    text-align: center;
    width: 650px;
    margin-left: 350px;
}
.formulaire h1{
    color: black;
    font-size: 45px;
    border-radius: 10px;
    padding-top: 20px;
}
.formulaire input{
    margin-top: 10px;
    width: 650px;
    height: 40px;
    border:1px solid black;
}
.button3 {
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border-left: none;
    border-top: none;
    font-size: 18px;
    cursor: pointer;
    color: white;
    transition: 0.4s ease;
    font-family: emoji;
    margin-top: 40px;
}

.button3 {
    background: black;
}

.button3 a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(252, 222, 218);
}
.formulaire ::placeholder {
    padding-left: 10px;
}





/* KylieProductsPage */
.PageP {
    background: mistyrose;
    width: 100%;
}

.p1 {
    background: white;
    text-align: center;
    margin-left: 185px;
    width: 400px;
    height: 555px;
    border-radius: 40px;
    box-shadow: 5px 5px 15px;
}

.p1 img {
    width: 50%;
    width: 400px;
    border-radius: 40px;
}
.p1:hover{
    width: 423px;
    background:#ffd1d9;
}
.p1 a{
    text-decoration: none;
    color: black;
}

.p2 {
    background: white;
    margin-left: 200px;
    text-align: center;
    border-radius: 40px;
    box-shadow: 5px 5px 15px;

}

.p2 img {
    width: 50%;
    width: 400px;
    height: 498px;
    border-radius: 40px;
}

.p2:hover {
    width: 420px;
    background:#ffd1d9;
}
.p2 a{
    text-decoration: none;
    color: black;
}

.card1 {
    display: flex;
}

.p3 {
    background: white;
    width: 400px;
    height: 500px;
    text-align: center;
    border-radius: 40px;
    margin-top: 40px;
    margin-left: 492px;
    box-shadow: 5px 5px 15px;
}

.p3 img {
    width: 50%;
    width: 400px;
    height: 450px;
    border-radius: 40px;
}

.p3:hover {
    width: 422px;
    background:#ffd1d9;
}
.p3 a{
    text-decoration: none;
    color: black;
}
.btn1{
    margin-top:-10px ;
  }
